.title {
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 28px;
  color: white;
}
.container {
  padding: 10px;
  width: 98%;
  background-image: url(https://images.pexels.com/photos/271696/pexels-photo-271696.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: inherit;
}

.autoGenerateButton {
  color: black;
  background: #ffffff7d;
  width: fit-content;
  border: none;
  outline: none;
  margin-left: 10px !important;
}

.inputField {
  background-color: #ffffffa6;
  color: black;
  border-radius: 8px;
}

.addRestaurantButton {
  margin-top: 10px;
  width: 80%;
  background-color: #2c79eb9c;
  border-color: #0d6efd;
}
